* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --border-bottom-color: hsl(36, 22%, 86%);
  --text-color: hsl(33, 17%, 41%);
  --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  --special-font: "Fraunces";
}
@font-face {
  font-family: "DMSans"; /*ده الخط الأساسي للموقع.*/

  src: url("../assets/fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf");
}
@font-face {
  font-family: "Fraunces"; /*ده خط Serif (فيه زوائد صغيرة على الحروف)، وبيستخدم للعناوين الكبيرة.*/

  src: url("../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
@font-face {
  font-family: "DMMono-Regular"; /*الكلمات الصغيرة المكتوبة بحروف كبيرة (Labels)، المعلومات التقنية، الأكواد، الأرقام المطبوعة*/
  src: url("../assets/fonts/dm-mono/DMMono-Regular.ttf");
}
body {
  font-size: 14px;
  background-color: hsl(36, 22%, 86%);
  font-family: "DMSans";
}
/*layout*/
.app {
  display: flex;
  width: 90%;
  margin: 20px auto;
  background-color: hsl(35, 60%, 96%);
}
/*start aside properties */
.app aside {
  flex-basis: 25%;
  padding: 10px 5px;
  border-right: 1px solid var(--border-bottom-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
/***************/
aside .row .aside-header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--border-bottom-color);
}
aside .row .aside-header div:first-child {
  color: hsl(15, 69%, 37%);
  font-weight: 600;
}
aside .row .aside-header div:last-child {
  font-family: "DMMono-Regular";
  font-weight: 600;
}
aside .row .aside-header img {
  width: 40px;
}
aside nav {
  padding: 10px;
}
aside nav ul {
  list-style: none;
}
aside nav ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 5px;
  padding: 15px 10px;
  border-radius: 8px;
  cursor: pointer;
}
aside nav ul li:hover {
  background-color: hsl(0, 0%, 100%);
}
aside nav ul li span {
  text-transform: capitalize;
  letter-spacing: 1.5;
}
aside .row .weather-card {
  width: 90%;
  margin: 0 auto 20px;
  background: linear-gradient(135deg, hsl(45, 100%, 74%), hsl(42, 83%, 58%));
  border-radius: 8px;
  padding: 12px;
  position: relative;
}
aside .row .weather-card::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--border-bottom-color);
  position: absolute;
  bottom: -25px;
  left: 0;
}
aside .row .weather-card p {
  margin: 5px;
  color: var(--text-color);
  font-weight: 400;
}
aside .row .weather-card p:nth-child(2) {
  font-family: var(--special-font);
  font-size: 22px;
  color: black;
}
aside .row .aside-footer {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}
aside .row .aside-footer p {
  color: var(--text-color);
}
aside .row .aside-footer p:first-child {
  margin-bottom: 15px;
}
aside .row .aside-footer p:last-child {
  margin-top: 15px;
}
/*end aside properties*/
/***************************************/
/*start header properties*/

main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
}

main header .logo {
  font-family: var(--special-font);
  font-size: 28px;
  position: relative;
  letter-spacing: 1.5px;
}
main header .logo span {
  color: hsl(15, 69%, 37%);
  font-style: italic;
}
main header .logo::before {
  content: "Booking   Confirmed";
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 13px;
  font-family: var(--text-color);
  opacity: 0.5;
}
main header .btn-header {
  flex-basis: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main header .btn-header button:first-child {
  padding: 12px 18px;
  background-color: white;
  color: #000;
  font-weight: 600;
  text-align: center;
  border: 1px solid hsla(33, 17%, 41%, 0.316);
  border-radius: 14px;
  cursor: pointer;
}
main header .btn-header button:last-child {
  padding: 12px 18px;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border: 1px solid hsla(33, 17%, 41%, 0.316);
  border-radius: 14px;
  width: fit-content;
  cursor: pointer;
}
/*end header properties*/
/*start hearo sectio  */

/*end hearo sectio  */
main .hero {
  position: relative;
  width: 700px;
  height: 450px;
  margin: auto;
  color: var(--text-color);
}
.hero .card {
  position: absolute;
  top: 40px;
  left: 0;
  width: 350px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  transform: rotate(-5deg);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  padding: 20px;
}

.hero .card-welcome {
  position: absolute;
  top: 40px;
  left: 346px;
  width: 350px;
  height: 400px;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  z-index: 2;
  transform: rotate(5deg);
  box-shadow: var(--box-shadow);

  background-color: hsl(15, 74%, 41%);
}
.hero .card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-bottom-color);
}
.hero .card .card-header .left-card-header p:last-child {
  color: #000;
  font-family: var(--special-font);
  font-size: 20px;
}

.hero .card .card-body .top-card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
.hero .card .card-body .top-card-body div {
  text-align: center;
}
.hero .card .card-body .top-card-body div p {
  color: var(--text-color);
  font-size: 12px;
}

.hero .card .card-body .top-card-body div p:nth-child(2) {
  font-family: var(--special-font);
  font-size: 24px;
  color: #000;
}
.hero .card .card-body .bottom-card-body {
  margin: 20px 0;
  border-top: 1px solid var(--border-bottom-color);
  border-bottom: 1px solid var(--border-bottom-color);
}
.hero .card .card-body .bottom-card-body div {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .card .footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hero .card .footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .card .footer div:first-child span:last-child {
  font-size: 22px;
  font-family: var(--special-font);
}
.hero .card-welcome {
  color: #ffffffc2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero .card-welcome .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.hero .card-welcome .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.hero .card-welcome .card-body p {
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.hero .card-welcome .card-body p:first-child {
  font-family: var(--special-font);
  color: hsl(42, 83%, 58%);
}
.hero .card-welcome .card-body p:nth-child(2) {
  font-family: var(--special-font);
  font-size: 22px;
}
.hero .card-welcome .card-body p:first-letter {
  text-transform: capitalize;
}
/************************************/
/*star services section */
main .services {
  margin-top: 40px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
}
main .services .card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  padding: 15px;
  border: 1px solid var(--border-bottom-color);
  color: var(--text-color);
}
main .services .card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(15, 69%, 37%);
}
main .services .card .card-header .icon {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 40px;
  height: 40px;
}
main .services .card .card-header .icon img {
  background-color: hsl(15, 69%, 37%);
  width: 30px;
  height: 30px;
  border-radius: 6px;
}
main .services .card .card-header .num {
  font-family: var(--special-font);
}
main .services .card .card-body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
main .services .card .card-body p:first-child {
  font-family: var(--special-font);
  color: #000;
  font-size: 16px;
}
main .services .wifi .card-header {
  color: hsl(230, 49%, 56%);
}
main .services .wifi .card-header .icon img {
  background-color: hsl(230, 49%, 56%);
}
main .services .wifi .card-body .password,
.network {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  background-color: hsl(36, 22%, 86%);
  padding: 10px;
  border-radius: 8px;
}
/*end services section */
